################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/dist
/jspm_packages
/node_modules
/typings
